body {
    background-color: #1e1e1e;
}

.introduction{
    font-size: 100px;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    position: absolute;
    padding: 0px 100px;
    top: 100px;
    left: 0;
    animation: anim 2s;
    color: #fff;
    background: #2980b9;
}

.welcome{
    font-size: 70px;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    position: absolute;
    padding: 0px 100px;
    top: 500px;
    left: 0;
    animation: introAnim 4s;
    color: #fff;
    background: #2980b9;
}

.bio{
    font-size: 50px;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    position: absolute;
    padding: 0px 100px;
    top: 1000px;
    left: 0;
    animation: bioAnim 4s;
    color: #fff;
    background: #2980b9;
}

.links{
    font-size: 50px;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    position: absolute;
    padding: 0px 100px;
    top: 1600px;
    left: 0;
    animation: linksAnim 4s;
    color: #fff;
    background: #2980b9;
}

.Linkedin{
    font-size: 30px;
    font-weight: bold;
    font-family: montserrat, sans-serif;
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 1800px;
    left: 50%;
    animation: LinkedinAnim 4s;
    color: #fff;
    background: #2980b9;

}

img{
    max-width: 50%;
    max-height: 50%;
}

@keyframes anim {
    0%{
        margin-left: 900px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
    }
}

@keyframes introAnim {
        0%{
            margin-left: 900px;
            opacity: 0;
        }
        100%{
            margin-left: 0;
        }
}

@keyframes bioAnim {
        0%{
            margin-left: 900px;
            opacity: 0;
        }
        100%{
            margin-left: 0;
        }
}

@keyframes linksAnim {
    0%{
        margin-left: 900px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
    }
}

@keyframes LinkedinAnim {
    0%{
        margin-left: 900px;
        opacity: 0;
    }
    100%{
        margin-left: 0;
    }
}