body {
  background-color: #1a1a1a;/*#5a0000*/
}

.introduction{
  display: inline-block;
  border-radius: 50px; /* Rounds background corners*/
  text-align: left; /* Aligns text*/
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  position: relative;
  padding: 0px 40px;
  transform: translate(40%, 180%);
  animation: introAnim 2s;
  color: #800000;
  background-color: #ff9393;
  /*text-shadow: 0px 0px 0 #e2e2e2, 0px 0px 0 #1a1a1a, 0px 0px 0 #e2e2e2, 0px 0px 0 #1a1a1a;*/
}

.EloyPic{
  transform: translate(55%, 0%);
  img{ /* adjusts image size*/
    border-radius: 50px;
    max-width: 400px;
    max-height: 400px;
  }
}

.bio{
  display: inline-block;
  border-radius: 50px;
  text-align: center; /* Aligns text*/
  font-size: 50px;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  position: relative;
  padding: 0px 40px;
  transform: translate(0%, 320%);
  animation: bioAnim 4s;
  color: #fff;
  background: #2980b9;
}

.links{
  display: inline-block;
  border-radius: 50px;
  text-align: center; /* Aligns text*/
  font-size: 50px;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  position: absolute;
  top: 1600px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: linksAnim 4s;
  color: #fff;
  background: #2980b9;
}

.Linkedin{
  display: inline-block;
  border-radius: 50px;
  height: 450px;
  width: 400px;
  text-align: center; /* Aligns text*/
  font-size: 30px;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  position: absolute;
  top: 2000px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: LinkedinAnim 4s;
  color: #fff;
  background: #2980b9;
  
  img{ /* adjusts image size*/
      border-radius: 50px;
      max-width: 400px;
      max-height: 400px;
    }
}

.Resume{
  display: inline-block;
  border-radius: 50px;
  height: 450px;
  width: 400px;
  text-align: center; /* Aligns text*/
  font-size: 30px;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  position: absolute;
  top: 2000px;
  left: 50%;
  transform: translate(-180%, -50%);
  animation: LinkedinAnim 4s;
  color: #fff;
  background: #2980b9;
  
  img{ /* adjusts image size*/
      border-radius: 50px;
      max-width: 400px;
      max-height: 400px;
    }
}

.Github{
  display: inline-block;
  border-radius: 50px;
  height: 450px;
  width: 400px;
  text-align: center; /* Aligns text*/
  font-size: 30px;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  position: absolute;
  top: 2000px;
  left: 50%;
  transform: translate(80%, -50%);
  animation: LinkedinAnim 4s;
  color: #fff;
  background: #2980b9;
  
  img{ /* adjusts image size*/
      border-radius: 50px;
      max-width: 400px;
      max-height: 400px;
    }
}

@keyframes introAnim { /* Does the transition animation*/
  0%{
      margin-left: 900px;
      opacity: 0;
  }
  100%{
      margin-left: 0;
  }
}

